[2018-06-19 16:52] jjperezaguinaga opened #27 "Package/dependencies vulnerabilities"
We need to update our dependencies to fix the reported vulnerabilities.

So far they are being displayed only on `CodeCoverage/package-lock.json`, but might worth to ensure and check all our dependency related files.

[2018-06-19 16:52] status-open-bounty commented on #27
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x62234e28a159206b50a2bc3e101c0417a5b837dbeb42732d33caef5ea3e37e4b](https://etherscan.io/tx/0x62234e28a159206b50a2bc3e101c0417a5b837dbeb42732d33caef5ea3e37e4b)

[2018-07-11 14:30] mybit-bot opened #29 "Review and update repository branches to reflect the most up-to-date status"
**Introduction**
Currently we have master and develop, but doesn't seem to be synced as they should be. Seems like some stuff is on master, and some stuff is on develop. Let's always have master as a working version, and develop the WIP. Let's update master with develop every once in while.

**Task Description**

* Merge master back to develop and fix any conflicts.
* Merge develop back to master

[2018-07-12 11:12] jjperezaguinaga opened #30 "Define dependencies or migrations for running contract tests"
**Introduction**
While trying to run the tests, I'm faced with a lack on documentation on how to run the tests. A normal `truffle test` throws a missing `migrations` folder, but seems we are not wrapping the tests on top of a deployed contract but by fetching the contracts directly.

**Task Description**
Provide documentation on how to run the tests for the contracts.

[2018-07-21 16:14] #30 closed

[2018-07-27 15:20] #29 closed

[2018-08-09 08:45] kyledewy commented on #27
I believe this is resolved now.

[2018-08-09 08:45] #27 closed

[2018-09-17 13:40] mybit-bot opened #97 "smart contract for funding multiple bounties with 1 transfer"

[2018-09-17 13:40] mybit-bot opened #98 "documentation and easy to contribute to Trust MicrodApp"

[2018-09-17 13:40] mybit-bot opened #99 "Create simple Game using MYB"
includes FE + BE. Use the sdks.

[2018-09-17 13:40] mybit-bot opened #100 "IP SDK"

[2018-09-17 13:40] mybit-bot opened #101 "Out of the box investment funds SDK"

[2018-09-17 13:45] mybit-bot opened #102 "Options (calls/puts)"
relies on a GUI for registering existing assets to achieve full scope.

[2018-09-17 13:45] mybit-bot opened #103 "use any token to pay access costs"
Introduction: DApps running on the MyBit Network require MYB to be burnt to use the applications. This creates a UX issue where users must manually convert their ERC20 tokens into MYB prior to using the dApps. To streamline user experience we are looking for a solution to be developed where the conversion to MYB is done on the back-end and the user can pay the access cost with any token in their w

[2018-09-17 13:45] mybit-bot opened #104 "punch card payment model for microdapps"
pay . once to get x function calls instead of per usage.

[2018-10-13 11:50] #98 closed

[2018-10-13 11:50] #100 closed

[2018-10-13 18:54] mybit-bot opened #147 "Develop Airdrop dApp"
Introduction: Dropzone is a simply web-interface for conducting crypto airdrops. This tasks involves combining the smart contracts with the design which components can be pulled from the UI Kit. The smart contracts are not finalised and solely serve to act as the building blocks for this use case.

Resources:
general - https://files.mybit.io/files/
design - https://www.dropbox.com/s/pz8kdqwxqs6841

[2018-10-13 18:54] mybit-bot opened #148 "Develop Payroll dApp"

[2018-10-13 18:54] mybit-bot opened #149 "Develop Bill Splitting dApp"
## Introduction
Fork is a tool to make it easy to split bills. This tasks involves combining the smart contracts with the design which components can be pulled from the UI Kit. The smart contracts are not finalised and solely serve to act as the building blocks for this use case.

## Resources
1. general - https://files.mybit.io/files/
2. design - https://www.dropbox.com/s/xfulvi6g1iaubht/MyBit-Fo

[2018-10-13 18:54] mybit-bot opened #150 "Develop Will dApp"
Introduction: MyBit Will is a way to automate the distribution of crypto assets if something happens to the owner such as death. This tasks involves combining the smart contracts with the design which components can be pulled from the UI Kit. The smart contracts are not finalised and solely serve to act as the building blocks for this use case.

Resources:
general - https://files.mybit.io/files/
d

[2018-10-13 19:41] #101 closed

[2018-10-13 19:46] #99 closed

[2018-10-13 19:51] #103 closed

[2018-10-13 19:51] mybit-bot opened #151 "Any token pays access costs in MYB"
Introduction: DApps running on the MyBit Network require MYB to be burnt to use the applications. This creates a UX issue where users must manually convert their ERC20 tokens into MYB prior to using the dApps. To streamline user experience we are looking for a solution to be developed where the conversion to MYB is done on the back-end and the user can pay the access cost with any token in their w

[2018-10-13 19:51] status-open-bounty commented on #151
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xf412bc2874ebdc2783b5ad1fd60830ee8bcbcd46f9791dc6ef0d2f12220c2b76](https://etherscan.io/tx/0xf412bc2874ebdc2783b5ad1fd60830ee8bcbcd46f9791dc6ef0d2f12220c2b76)

[2018-10-14 21:09] williamremor opened #152 "Add high level description of AssetGenerator.sol"
@kyledewy
Contract: contracts/ecosystem/AssetGenerator.sol

Issue description: Readme.md is missing a description of functions for this contract.

[2018-10-21 14:04] cryptnotiq commented on #149
@trowacat Information on the SDK can be found at https://developer.mybit.io/portal/
As for the smart contracts, this use case is basically the inverse of the logic found in https://github.com/MyBitFoundation/MyBit-Payroll.tech so you should be able to give it a go with those resources.

[2018-10-22 23:28] jjperezaguinaga commented on #149
@trowacat let us know if you want to tackle on this :)

[2018-10-23 07:05] kyledewy commented on #152
Ok added some examples in the README. https://github.com/MyBitFoundation/MyBit-Network.tech/pull/169

[2018-10-23 07:05] #152 closed

[2018-10-25 12:55] uivlis commented on #151
How about this:

[code]

[2018-10-25 15:39] uivlis commented on #151
Negative

[2018-10-25 16:42] PeterMPhillips commented on #151
ok, next step would be to create a github repository, initialize a truffle environment, and run some tests. post a link to the repository here and i'll clone it and play around with the contracts.

let me know if you have any questions!

[2018-10-25 17:05] uivlis commented on #151
An untested version is up at https://github.com/uivlis/token-to-mybit-converter

[2018-10-26 06:11] uivlis commented on #151
As per this https://www.reddit.com/r/Bancor/comments/8f68hx/testing_the_api/, the **best way to do it is unfortunately using low amount of funds on mainnet.**

[2018-10-26 19:28] jjperezaguinaga commented on #151
@uivlis Looking good! I think we need a way to see how we can integrate this with an existing contract or working application/demo. Pinging @kyledewy to also chip in on this to add a couple ideas on that area.

[2018-10-26 19:35] uivlis commented on #151
@jjperezaguinaga Out of current order, can you take a look also here https://github.com/MyBitFoundation/MyBit.design/pull/24?

[2018-10-26 20:32] PeterMPhillips commented on #151
While we're waiting for @kyledewy I'll try my best to formalize how I think this functionality can/should be implemented and we can discuss it here on GitHub for @uivlis to take part in.

I think there are two ways we can implement Bancor conversions into our apps:

Web3 way: The front-end can make a call to the Bancor API and get back the raw transaction that is needed to call one of their conver

[2018-10-26 21:14] uivlis commented on #151
@PeterMPhillips Which solution do you feel more inclined to use? Bancor recommends using web3 (https://www.reddit.com/r/Bancor/comments/8in9ve/convert_using_quickconvert_smart_contract_method/).

[2018-10-26 21:18] PeterMPhillips commented on #151
Web3 is certainly more straightforward from a dev perspective but it has drawbacks from a end user and security perspective. @jjperezaguinaga @kyledewy what are your thoughts on this?

[2018-10-27 18:29] uivlis commented on #151
Hey @mybit-bot, any updates or internal discussions on this one?

[2018-10-27 18:50] jjperezaguinaga commented on #151
@uivlis Yes, we are still seeing the best way to integrate it with our own contracts. Probably worth to have an online demo, or integrate directly in our Trust Contracts (https://github.com/MyBitFoundation/MyBit-Trust.tech). Which one would you prefer to test this on Mainnet?

[2018-10-27 19:04] uivlis commented on #151
Oh ok, so the solidity path is still the vision to go ahead. In that case, I need to change the code according to @PeterMPhillips's recommendations from the wall above. I'll come up with an online demo then.

[2018-10-28 08:13] kyledewy commented on #151
Hey sorry I've been busy with the hackathon.
The web3 path is definitely simpler, but I don't see a way to have the received MYB tokens automatically burned, which would defeat the purpose UX wise. @PeterMPhillips any way you can think of doing this?

Otherwise the Solidity contract looks pretty good. I think it needs a few more checks to make sure it has actually received the MYB tokens. (ie.requ

[2018-10-28 10:41] uivlis commented on #151
@kyledewy made a few retouches for https://github.com/uivlis/token-to-mybit-converter, but didn't test it as you said (I'm just too eager to get this running). I feel 98% confident this would work, could you take a last minute look?

[2018-10-28 11:06] kyledewy commented on #151
@uivlis I don't think the contract is ready. I believe the convert() function for Bancor doesn't take a token path directly, but just requires a fromToken, and a toToken, like you had before. Also I made a comment about the token balance check on your github repo.

[2018-10-28 14:46] kyledewy commented on #151
Ok can you find a link to the live contracts? I'm seeing this function from the contracts in master branch.
[code]

[2018-10-28 16:04] uivlis commented on #151
https://etherscan.io/address/0xF20b9e713A33F61fA38792d2aFaF1cD30339126A#code

[code]
Are you reading from BancorNetwork.sol, and not from BancorConverter.sol?

[2018-10-28 18:19] kyledewy commented on #151
Ok when i go to use Bancor I'm directed to this [contract](https://etherscan.io/address/0xb89570f6AD742CB1fd440A930D6c2A2eA29c51eE#code). The convert function there doesn't appear to receive the path:
[code]
I'm not sure if Bancor has a way of verifying the address of their current contracts. Can you confirm that Bancor directs you to the same contract? If so, then this should be the version we wo

[2018-10-28 19:49] PeterMPhillips commented on #151
Different conversions use different converters. @kyledewy, the address you list is for Ether to ERC20 conversions. However, if a convert MyB to Storm i get this address: 0x6B431a7a99780819473722161Ee9145E5649C5e2

I believe it works like this: Each erc20 token has a Smart Token as it relayer. Each relayer token is owned by BancorConverter contract (notice how a BancorConvert is also a SmartTokenCo

[2018-10-28 20:10] kyledewy commented on #151
Yaa that makes sense. So it's `BancorNetwork.sol` it should be calling. Is there a getter function to get the converter address given the token address?

[2018-10-28 20:16] PeterMPhillips commented on #151
i don't think its needed, if you look at BancorNetwork.sol they in their comments "The smart token is only used as a pointer to a converter (since converter addresses are more likely to change)" and in their tests, they just set the path like so: smartToken2BuyPath = [etherToken.address, smartToken1.address, smartToken1.address, smartToken2.address, smartToken2.address];

[2018-10-29 11:54] uivlis commented on #151
Well, this is embarassing, but I keep getting "Error: VM Exception while processing transaction: revert", although I think the test evironment is to blame.  In tests, instead of BancorNetwrok.js, I have:
[code]
[code]
[code]
with a modified TokenConverter.sol for the purpose of testing:
[code]
I'm stuck, would you give me some ideas where to look?

[2018-10-30 06:01] bakaoh commented on #150
@mybit-bot may i working on this?

[2018-10-30 07:52] kyledewy commented on #151
Hey sorry @uivlis, we don't have the time to clone and debug errors. The revert error is likely from one of those require() statements not being met.

[2018-10-30 10:59] kyledewy commented on #150
@bakaoh yes you can. Goodluck.

[2018-10-30 14:58] uivlis commented on #151
Thank you @kyledewy for your kind help. Unfortunately, that was not the problem. The tests have somehow succeeded.
It seems that in order for a contract on the blockchain to interact with bancorConverter it needs to be whitelisted by the owner of the converter (i.e., by the Bancor team) through the setConversionWhitelist() function.
```BancorNetwork.sol```, line ```322```:
[code]
Also, if that hap

[2018-10-30 16:04] adigunhammedolalekan commented on #150
@kyledewy can i also start working on this?

[2018-10-30 16:14] cryptnotiq commented on #150
yes you can @adigunhammedolalekan

[2018-10-30 16:57] kyledewy commented on #151
Ok thats great @uivlis
Could you make a pull-request against the MyBit-Network.tech repo on branch `baseline` with the contract and the test in there?
You can call the contract `BancorConverter.sol` and the test `bancorConverter.js`. Me and @PeterMPhillips  will look at it.

[2018-10-31 16:40] PeterMPhillips commented on #151
As a note, I think we can safely assume that all the converters don't have whitelists set as that would break the usability of their product. For example, if we go to their [ethereum/bancor converter](https://etherscan.io/address/0xb89570f6AD742CB1fd440A930D6c2A2eA29c51eE#readContract) you can see that no whitelist is set:

31. conversionWhitelist
0x0000000000000000000000000000000000000000 address

[2018-11-01 04:06] uivlis commented on #151
Oh, okay. So, what's next for me to do, or that's the end of the bounty?

[2018-11-01 10:46] kyledewy commented on #151
@uivlis getting close. The [tests](https://circleci.com/gh/MyBitFoundation/MyBit-Network.tech/150?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link) are failing though. It seems one of the contract paths are missing. Can you fix it and commit again so the circleCI tests pass ?

[2018-11-01 10:59] uivlis commented on #151
The final version is still to be found here.

Sadly, I cannot make CircleCI pass... Pardon, but I think I shouldn't, since you shouldn't merge my pull-request, since it was intended to provide you with the tests of the real solution. Now the those tests will work only in `bancorprotocol` repository, as you requested of me.
Instead, shouldn't I make a pull request with [this](https://github.com/uiv

[2018-11-01 12:43] kyledewy commented on #151
Yes, but these contracts are going into our SDK so they need to be merged in with all our other contracts and tests.
You can import the relevant Bancor contracts so that your tests will pass.

[2018-11-01 13:49] cryptnotiq commented on #150
Hey @bakaoh design and FE looks great! Menu bar on mobile doesn't seem to be working though.

Ran into an issue testing but believe I identified the problem. The dApp requires burning 250MYB to use and the testnet MYB address is different than the main net one.

Testnet: 0xbb07c8c6e7cd15e2e6f944a5c2cac056c5476151
Main net: 0x5d60d8d7eF6d37E16EBABc324de3bE57f135e0BC

So that may be why I get the me

[2018-11-01 13:51] cryptnotiq commented on #150
As a side note, we decided internally to remove the MYB burning requirement from the SDK, but it has not been done yet. This will prevent situations like this from happening in the future to make development more streamlined.

[2018-11-01 14:17] uivlis commented on #151
I'm feeling stupid now, but maybe I miss something. The relevant contracts are just above 90% of all contracts and their artifact builds (due to interdependence) plus some npm packages specific to Bancor Contracts. One cannot just import them all.
Again, why would you want to merge it into the SDK, since its only purpose was a hack?
Don't get me wrong, but I just don't get it.
You were thinking of

[2018-11-01 15:40] kyledewy commented on #150
@bakaoh for now you can go to the ropsten [faucet](https://ropsten.etherscan.io/address/0x564a7464b6ea98259aae1ad4aa8a11ca9b502cf8#writeContract) to get some testnet-MYB. `password = 'ripplesucks'`
We will remove that requirement in the future.

[2018-11-01 15:42] kyledewy commented on #150
@bakaoh I am still getting the alert that I need MYB even though my balance is 10,000. Perhaps the Will Dapp is looking for an old MYB ropsten token?

[2018-11-01 15:42] kyledewy commented on #150
@adigunhammedolalekan sorry we don't have a process for multiple contributors yet. First come, first serve for now.

[2018-11-01 15:52] kyledewy commented on #151
One can import them all, and we need to, in order to test this locally. This is a hack for now, but it is going to be used by many different people so it has to be properly tested.
Just bring in the contracts locally and those npm packages can be added as dependencies.

[2018-11-02 04:52] uivlis commented on #151
Okay, so here's what I did: I put the entire modified `bancorprotocol` repository as a commit. Well, at least the checks pass now.

[2018-11-02 09:51] kyledewy commented on #150
@bakaoh works great for me. @csmartinsfct can you review?

[2018-11-02 09:56] csmartinsfct commented on #150
Will have a look sometime today :)
On Fri, 2 Nov 2018 at 09:51, Kyle Dewhurst <notifications@github.com> wrote:

[2018-11-02 11:01] kyledewy commented on #151
@uivlis sorry I don't understand what you did there. It seems you've just deleted the contracts and tests?

[2018-11-02 11:19] uivlis commented on #151
Oh my, that's a big one for me... Big apologies, apparently it was a `git` folder inside another `git` folder. I had to delete the `.git` files from `bancor-contracts` to make visible the files commited. Hope this commit passes.

[2018-11-02 15:11] kyledewy commented on #151
Ok. I need more reference of what tests you are running for the TokenConverter contract. Is it BancorNetwork.js? If so you only need to include that test, and the 11 contracts it uses. You can put the TokenConverter contract in the `ecosystem` folder and the `BancorNetwork.js` test in `tests`. Keep the necessary bancor contracts in the `bancor` folder and adjust the relative paths.

[2018-11-03 05:03] endenwer commented on #149
I want to use clojurescript for this task. Can I do that or only js?

[2018-11-03 10:54] cryptnotiq commented on #150
For me the transaction looks like it went through fine. https://ropsten.etherscan.io/tx/0xc201282c4ba40702cdfadb5747daa99e9839498dc5f59786e29a162fef3b5ad1

But on the dApp when I click verify in the header I just get a continuous load screen. Anyone else have that issue?

[2018-11-03 10:55] cryptnotiq commented on #149
@endenwer good question. @jjperezaguinaga what do you think?

[2018-11-04 00:07] bakaoh commented on #150
@cryptnotiq --- the loading screen appears when getting the logs through web3. For me in ropsten, it did not take so long

[2018-11-04 15:28] mybit-bot opened #187 "Implement loading animation on will.mybit.io"
Introduction: To enhance the design aesthetic of MyBit Will (will.mybit.io) we want to replace the current, generic load circle with a custom animation of the MyBit Logo.

Requirements:
1. Update all load screen instances to ﹍https://codepen.io/uivlis/full/aRXQgj/﹍
2. The animation should continue repeatedly until the page loads.

To Submit:
1. Comment on task with a staging URL to get approval fo

[2018-11-04 15:28] mybit-bot opened #188 "Implement loading animation on trust.mybit.io"
Introduction: To enhance the design aesthetic of MyBit Trust (trust.mybit.io) we want to replace the current, generic load circle with a custom animation of the MyBit Logo.

Requirements:
1. Update all load screen instances to ﹍https://codepen.io/uivlis/full/aRXQgj/﹍
2. The animation should continue repeatedly until the page loads.

To Submit:
1. Comment on task with a staging URL to get approval

[2018-11-04 15:28] status-open-bounty commented on #187
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xaec734d16d7acd266b11c5df56e5cbbd8936b1f90f514af15cb398aacdb03291](https://etherscan.io/tx/0xaec734d16d7acd266b11c5df56e5cbbd8936b1f90f514af15cb398aacdb03291)

[2018-11-04 15:28] status-open-bounty commented on #188
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x68c673e7daead23b6e7efb744a2aefcd36a0aa64518a1792be3de406296a1d34](https://etherscan.io/tx/0x68c673e7daead23b6e7efb744a2aefcd36a0aa64518a1792be3de406296a1d34)

[2018-11-04 16:46] cryptnotiq commented on #150
@bakaoh few things.
1. On the verify tab if something was not verified in time (in the given block interval) the state of the button should update to Expired.
2. Is there a countdown feature to know when something must be verified by? For example I see the block number it needs to be verified by, but there is no current block number anywhere. So a solution I propose is either a) put the current bl

[2018-11-04 17:07] mybit-bot opened #189 "Add metamask required pop-up on MyBit Trust"
Introduction: On https://trust.mybit.io/ when you click create new but do not have metamask installed/unlocked the application gets stuck in a load screen. We need a solution that notifies the user that metamask is required.

Proposed Solution(s):
Option 1 is to create an isolated pop-up/screen which instructs users that metamask is required to proceed with links to download/unlock. You can pull t

[2018-11-04 17:07] mybit-bot opened #190 "Add metamask required screen on MyBit Will"
Introduction: On https://will.mybit.io/ when you click create new but do not have metamask installed/unlocked the application gets stuck in a load screen. We need a solution that notifies the user that metamask is required.

Proposed Solution(s):
Option 1 is to create an isolated pop-up/screen which instructs users that metamask is required to proceed with links to download/unlock. You can pull th

[2018-11-04 17:17] status-open-bounty commented on #189
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x3822edb8b618662a48277bf4ac88876a6853db5760b2c78d24044084552f3640](https://etherscan.io/tx/0x3822edb8b618662a48277bf4ac88876a6853db5760b2c78d24044084552f3640)

[2018-11-04 17:17] status-open-bounty commented on #190
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x0aa2d098c729ba1cb113d8d85ee06ac4154a6bdba3c5d6e782ddd8ec3b4f17f4](https://etherscan.io/tx/0x0aa2d098c729ba1cb113d8d85ee06ac4154a6bdba3c5d6e782ddd8ec3b4f17f4)

[2018-11-04 18:50] #102 closed

[2018-11-04 18:50] mybit-bot opened #191 "Implement Calendar instead of Blocks for MyBit Trust"
## Introduction
To enhance the user experience of MyBit Trust (trust.mybit.io and https://trust.mybit.io/create-new) We want to replace the current method of distributing crypto-assets based on Block numbers with a calendar feature.

Current Behaviour: Choose in how many blocks the crypto-asset should be distributed.
Desired Behaviour: Choose a future time from a calendar pop-up (including date an

[2018-11-04 18:55] mybit-bot opened #192 "Extend MyBit Trust to any ERC20 Token"
Introduction: To enhance the user experience of MyBit Trust (trust.mybit.io and https://trust.mybit.io/create-new) We want to extend the functionality to any ERC20 token.

Current Behaviour: Only Ether is supported

Desired Behaviour: Any ERC20 Token is supported.

Requirements:
1. Must be clear that any ERC20 token is supported
2. Could be a dropdown to choose which token

To Submit:
1. Comment o

[2018-11-04 19:00] status-open-bounty commented on #191
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x5efe789b42d0b98a64a47a52c75dc4195fb3e8b08620da7774580197219bb833](https://etherscan.io/tx/0x5efe789b42d0b98a64a47a52c75dc4195fb3e8b08620da7774580197219bb833)

[2018-11-04 19:00] mybit-bot opened #193 "Add in support on MyBit Trust for any non-fungible token"
Introduction: To enhance the user experience of MyBit Trust (trust.mybit.io and https://trust.mybit.io/create-new) We want to extend the functionality to any non-fungible token on the Ethereum network.

Current Behaviour: Only Ether is supported

Desired Behaviour: Any non-fungible token or cryptographic asset such as cryptokitties is supported.

Requirements:
1. Must be clear that any non-fungibl

[2018-11-04 19:00] status-open-bounty commented on #192
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xec57d7474ba898c67173bcb8dff105502acd3cefb7f93deca838426e80b5ffdc](https://etherscan.io/tx/0xec57d7474ba898c67173bcb8dff105502acd3cefb7f93deca838426e80b5ffdc)

[2018-11-04 19:00] status-open-bounty commented on #193
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xb94314ea87f569d8190dd61809a34deb4cd2cfdda0f35c247bbbe590808cbe9a](https://etherscan.io/tx/0xb94314ea87f569d8190dd61809a34deb4cd2cfdda0f35c247bbbe590808cbe9a)

[2018-11-04 19:05] mybit-bot opened #194 "Use days instead of blocks on MyBit Will"
Introduction: To enhance the user experience of MyBit Will (will.mybit.io) We want to replace the current method of verifying life based on Block numbers with number of days.

Current Behaviour: Choose in how many blocks one must verify they are alive.

Desired Behaviour: Choose an amount in days and the block number to distribute is calculated on the back-end without the user knowing.
Requirement

[2018-11-04 19:05] mybit-bot opened #195 "Extend MyBit Will to any ERC20 Token"
Introduction: To enhance the user experience of MyBit Will (will.mybit.io) We want to extend the functionality to any ERC20 token.

Current Behaviour: Only Ether is supported
Desired Behaviour: Any ERC20 Token is supported.
Requirements:

1. Must be clear that any ERC20 token is supported
1. Could be a dropdown to choose which token and then input value. Or you can propose a better, more scalable

[2018-11-04 19:05] status-open-bounty commented on #194
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xe955b404ce7d16cf2236e51675329015bc9955a67fc2c40cd9e3c64cc8e2510d](https://etherscan.io/tx/0xe955b404ce7d16cf2236e51675329015bc9955a67fc2c40cd9e3c64cc8e2510d)

[2018-11-04 19:11] status-open-bounty commented on #195
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x44a19ca51acbaccac4a56ced2bb167fa51990dc7edde7a118e22a55e1c4cb3c8](https://etherscan.io/tx/0x44a19ca51acbaccac4a56ced2bb167fa51990dc7edde7a118e22a55e1c4cb3c8)

[2018-11-04 19:11] mybit-bot opened #196 "Add in support for any non-fungible token on MyBit Will"
Introduction: To enhance the user experience of MyBit Will (will.mybit.io) We want to extend the functionality to any non-fungible token on the Ethereum network.

Current Behaviour: Only Ether is supported
Desired Behaviour: Any non-fungible token or cryptographic asset such as cryptokitties is supported.

Requirements:

1. Must be clear that any non-fungible token is supported
1. Could be a dropd

[2018-11-04 19:11] status-open-bounty commented on #196
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0x9f87734905eec5387711cbd84e31131e687157f5c3ea08b5bed1d785c92a90d3](https://etherscan.io/tx/0x9f87734905eec5387711cbd84e31131e687157f5c3ea08b5bed1d785c92a90d3)

[2018-11-05 02:32] bakaoh commented on #150
@cryptnotiq
1. I fixed that
2. I used your (b) suggestion because it's easier for user
3. I deployed it on mainnet but please use it for testing purposes only. I prefer to test it on ropsten cause it costs ~$10 for each deploy if we need to change anything

[2018-11-05 10:28] cryptnotiq commented on #150
@kyledewy so I put the block# to verify as 50. When I verified it now it says 85 on the FE. Is that how the smart contract works or does it reset to 50?

For example if there are 35 blocks left before I need to verify and I click to do it. Does it reset to 50 or does it add 50 more blocks to the current one so it would be 85?

[2018-11-05 10:54] bakaoh commented on #150
@cryptnotiq --- yes, that is the current logic https://github.com/MyBitFoundation/MyBit-Will.tech/blob/master/contracts/Wills.sol#L56

[2018-11-05 11:52] cryptnotiq commented on #150
@bakaoh Ok so on testnet everything is good.

On main-net everything works except claiming. I tried with 2 different txs and they were successful but the ETH never showed up in my wallet.
claim tx1: https://etherscan.io/tx/0xd24c52e571d9f9ff5781419ac89c122f569be702f075935876ee9bc2f5d333af
claim tx2: https://etherscan.io/tx/0x68fec68468043e8ddcd5f8e9a2d59a8a3df6ef18a028087b247eadf0fd5816c4

Also, a

[2018-11-05 11:58] mybit-bot opened #197 "Auto refresh on metamask account switch - MyBit Trust"
Introduction: To enhance the user experience of MyBit Trust (trust.mybit.io) we want the application to automatically refresh when a user switches between different metamask wallets.

Current behaviour: Requires manual page refresh by user.

Desired behaviour: Automatically refreshes when new wallet in metamask is selected.

To Submit:
1. Comment on task with a staging URL to get approval for desi

[2018-11-05 11:58] mybit-bot opened #198 "Auto refresh on metamask account switch - MyBit Will"
Introduction: To enhance the user experience of MyBit Will (will.mybit.io) we want the application to automatically refresh when a user switches between different metamask wallets.

Current behaviour: Requires manual page refresh by user.

Desired behaviour: Automatically refreshes when new wallet in metamask is selected.

To Submit:
1. Comment on task with a staging URL to get approval for design

[2018-11-05 11:58] status-open-bounty commented on #197
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xf08f3f42526b1e06097f7c64298fa21691c7a14f08d487240ee08eec20e41f6a](https://etherscan.io/tx/0xf08f3f42526b1e06097f7c64298fa21691c7a14f08d487240ee08eec20e41f6a)

[2018-11-05 11:58] status-open-bounty commented on #198
![Contract deploying](https://openbounty.status.im/img/deploying_contract.png)
Transaction: [0xd116995f50e74ad34cc2c75f4d822046aac7a9dc197c936076df1ccb1064743c](https://etherscan.io/tx/0xd116995f50e74ad34cc2c75f4d822046aac7a9dc197c936076df1ccb1064743c)

[2018-11-05 12:58] kyledewy commented on #151
`BancorNetwork.js` needs to be in the `tests` folder outside of the contract tests. All the excess files in the `bancor`  folder can be removed. If you can just keep the contracts used in `BancorNetwork.js` and `TokenConverter.sol` that would be great.
The tests aren't compiling for me. Did you successfully run them?

[2018-11-05 13:04] uivlis commented on #151
The TokenConverter test is running. For a reason or another, it might interfere with the others. If you put it at the end, all the other tests pass. I saw that the tests interacting with the same tokens as in the TokenConverter test don't pass (coincidentally, the second test is just one of that). I thought it had to do with the converter supply and the modified price after the first conversion, b

[2018-11-05 13:32] kyledewy commented on #150
So I was able to claim on ropsten, but not on-mainnet. Did the source code remain the same between the ropsten deploy and the main-net deploy?  @bakaoh?
Anyways we can test this on our side on main-net.

1.) In the verify tab, `block #` should probably say `blocks until expiration` or something that indicates the person needs to renew the will.
2.) It should have some kind of explanation or proces

[2018-11-05 13:56] bakaoh commented on #150
Please dont test on mainnet anymore, i known the bug, i will redeploy it tomorrow

[2018-11-06 02:43] bakaoh commented on #150
@cryptnotiq @kyledewy -- i fixed the bug in mainnet contract

I updated it

I updated it

[2018-11-06 02:56] bakaoh commented on #150
Do you have any suggestion?
We may add a note in "How it works" page.
Or like some relayer do, we may have a button somewhere to approve a high allowance so all the apps in the ecosystem can simplified that process

[2018-11-06 11:19] cryptomental commented on #197
Hi @mybit-bot ! I found a solution and opened a pull request https://github.com/MyBitFoundation/MyBit-Trust.website/pull/4

I set up a callback in BlockchainInfo context that listens to 'update' event on Metamask
publicConfigStore. This callback is triggered whenever there is an update to the store. If selectedAddress is different than the current one, automatic refresh happens. I can apply later

[2018-11-06 11:31] cryptomental commented on #197
Hmm that's interesting, there is no open claim visible https://openbounty.status.im/app#/ perhaps it is because the pull request is in the different repo than this one?

[2018-11-06 11:34] cryptnotiq commented on #197
@csmartinsfct can you review?

[2018-11-06 11:49] cryptnotiq commented on #150
@bakaoh looks like everything works from my end. @kyledewy can you give it a final review?

[2018-11-06 11:51] cryptomental commented on #197
@cryptnotiq  @csmartinsfct and it is deployed here : https://mybit-trust-user-autorefresh.herokuapp.com/

You can verify this by opening Metamask and changing the user while the app is running.

[2018-11-06 13:22] cryptnotiq commented on #197
@csmartinsfct @kyledewy can you test that staging URL? None of the buttons are functioning for me, but could be a bad internet connection.

[2018-11-06 13:29] cryptnotiq commented on #197
hey @cryptomental the staging link isn't working for any of us. It loads eventually but then none of the buttons are functional. Can you look into it?

[2018-11-06 13:56] cryptomental commented on #197
Hi @cryptnotiq @csmartinsfct @kyledewy indeed! It hangs now on api.bancor.network perhaps it hit Bancor calls limit ?

An hour ago the staging app worked blazing fast but I was trying it out for 15-20 minutes so it might have triggered too many calls. I will wait a few minutes and try again.

I am thinking whether to switch to another staging area provider, perhaps free Heroku tier is not enough..

[2018-11-06 14:10] csmartinsfct commented on #197
We use [now.sh](https://zeit.co/now)

[2018-11-06 14:11] csmartinsfct commented on #197
But a bancor widget problem shouldn't make the website unusable, should it? @cryptomental

Feel free to host a version with the bancor widget disabled because if that is the issue then we'll have to fix it but it isn't related to this PR.

[2018-11-06 14:18] cryptomental commented on #197
Ok thank you @csmartinsfct I will try out now.sh.

I nailed down that it hangs here:

![hanging](https://user-images.githubusercontent.com/20819151/48070006-2a60b800-e1d7-11e8-8ef5-f54b0cfe3b40.png)

which is https://api.bancor.network/0.1/currencies/rate?toCurrencyCode=ETH&fromCurrencyCodes=USD,EUR

This works perfectly locally for me (website deployed locally as well).

[2018-11-06 14:20] csmartinsfct commented on #197
I wonder why it's hanging, we're using the widget in our Go dApp and never had that issue. Although the implementation is different in both projects.

Yea feel free to post a staging URL with the widget disabled.

[2018-11-06 14:52] cryptomental commented on #197
I deployed to https://react-boilerplate-pzlgkzurmq.now.sh/ but it is even worse , interesting it hangs on api.amplitude.com (I am wondering what is that).

I will have a look at this again in the evening and see if I can disable the widget.

[2018-11-06 14:53] cryptomental commented on #197
![screenshot from 2018-11-06 15 46 34](https://user-images.githubusercontent.com/20819151/48072088-11a6d100-e1dc-11e8-9290-16bde9c554fa.png)

[2018-11-06 15:59] cryptomental commented on #197
@csmartinsfct @cryptnotiq @kyledewy I decided not to waste time and deployed on a private VPS hosted in Germany. Please have a look now.

http://51.75.66.221:3000

[2018-11-06 16:03] jjperezaguinaga commented on #197
Hi @cryptomental , regarding your comment on sending a pull-request to claim a bounty, yes, you need to create a new one in this repository with "Fixes #197" in title or description. As a work around you can there in the description link to the actual project pull request.

[2018-11-06 16:04] jjperezaguinaga commented on #197
@cryptomental Also, our Circle CI build generates URLs based on changes you might provide in your pull-requests so you don't have to create VPS or other infra on your own. Click on the status links for a reference.

[2018-11-06 16:11] cryptomental commented on #197
Hi @jjperezaguinaga thanks for the information! I tried with different settings adding Fixes #197 unfortunately none of them work, unless I must create a new pull request...
"Fixes #197" references the issue in https://github.com/MyBitFoundation/MyBit-Trust.website GitHub repository and issue #197 does not exist there , perhaps that is why status does not recognize it.

[2018-11-06 16:14] cryptomental commented on #197
Oh and about circleci, it is not configured for https://github.com/MyBitFoundation/MyBit-Trust.website unless there is another place where it is defined. I would be grateful if you could paste a link.

[2018-11-06 16:18] jjperezaguinaga commented on #197
@cryptomental , you are actually right about the Trust website, thank you for bringing that up! I'll create an issue to tackle that.

Regarding the Fix 197, I meant create a Pull Request in this repository, and in in that pull-request reference [this](https://github.com/MyBitFoundation/MyBit-Trust.website/pull/4) one 😊 .

[2018-11-06 16:23] cryptomental commented on #197
Ahh smart! Thanks for the hint ;)

[2018-11-06 18:10] jjperezaguinaga commented on #197
@cryptomental That should work! Make sure your Open Bounty account is synced, as it's currently not showing up in my Dashboard.

In the meantime, @csmartinsfct , @kyledewy take some time to review the update

[2018-11-06 18:14] jjperezaguinaga commented on #149
Hi @endenwer , unfortunately none of our projects support clojurescript at the moment, so we prefer native JavaScript and not languages that compile to JS. We might move to typed mechanisms, but clojurescript is not in our scope at the moment.

[2018-11-06 21:54] cryptomental commented on #197
@jjperezaguinaga indeed, this worked for my previous openbounty but this time no matter what I enter in the pull request, https://openbounty.status.im/app#/ does not display the claim. My account seems to be synced.

p.s. http://51.75.66.221:3000 is still alive to check switching accounts in Metamask.

[2018-11-07 04:09] uivlis commented on #147
What is a top ETH address? One that holds the most ETH on the blockchain (or, perhaps, MYB)?

[2018-11-07 05:32] cryptomental commented on #189
I am able to reproduce this issue on a vanilla Chromium browser without Metamask and any plugins installed. I would like to tackle this bounty and open a pull request this week.

[2018-11-07 07:39] kyledewy commented on #150
@bakaoh @cryptnotiq yup looks good.

[2018-11-07 07:50] cryptomental commented on #197
Hah there is no way I can force https://openbounty.status.im/app#/ to recognize my claim to this bounty :)

I tried numerous approaches. This pr https://github.com/MyBitFoundation/MyBit-Network.tech/pull/200 should be also enough. The previous bounty was executed without any issues.

[2018-11-07 09:39] cryptomental commented on #150
Hi @bakaoh I also had a look, good job! I could not find a pull request though, could you please paste a link?

[2018-11-07 13:59] cryptomental commented on #189
@mybit-bot please check the staging deployment at http://51.75.66.221:3000/create-new

* I opted for suggested solution (2) and integrated it into the 'create new' pop-up.
* solved the problem of the create new box not loading.
* I tried to make it robust and tested Metamask log in/log out as well as switching networks and accounts.

Tested against:

* Google Chrome | 62.0.3202.94 (Official Build)

[2018-11-07 14:33] jjperezaguinaga commented on #197
@cryptomental Yeah, last one had no issues, I don't know what's happening with Open Bounty. At this rate I would prefer for you to send us your address and I can revoke the MYB in there and send it to you there when it's solved.

You can send me that information securely via comment in Github by going to https://keybase.io/encrypt and selecting `jjperezaguinaga` in the recipient. Then just paste t

[2018-11-07 14:40] cryptomental commented on #197
Thank you @jjperezaguinaga . I appreciate your help.

[code]

[2018-11-08 01:35] bakaoh commented on #150
Hi @cryptomental , this is my repo https://github.com/bakaoh/MyBit-Will.website, i didn't create a PR since i don't know where to put it in

[2018-11-08 05:15] uivlis commented on #151
@kyledewy @PeterMPhillips I cannot thank you enough for your understanding. The truth is, this was my first smart contract ever written. Well... Anyways, is this issue now to be closed? Shall I make another "Fixes #151" PR?

[2018-11-08 07:45] cryptomental commented on #198
I would like to tackle this task, should be similar to the one with the Trust dApp.

[2018-11-08 07:45] cryptomental commented on #190
I would like to tackle this task, should be similar to the one with the Trust dApp.

[2018-11-08 07:47] cryptomental commented on #150
Thanks @bakaoh , the repository will be most likely created soon by MyBit team!

[2018-11-08 14:11] jjperezaguinaga commented on #197
@cryptomental Sent! Thank you for your work! ☺️

[2018-11-08 14:12] cryptomental commented on #197
Hi @jjperezaguinaga thank you, too!

[2018-11-08 23:43] jjperezaguinaga commented on #151
@uivlis 👋 Yes! Please create another PR with "Fixes #151" even if it's empty so we can register the payment within Open Bounty. Thank you!

[2018-11-09 06:19] cryptomental commented on #189
I noticed that the page refreshes often in case Metamask is locked due to Metamask emitting events, I will try to relax this a bit and open a pull request today.

[2018-11-09 09:29] kyledewy commented on #151
@uivlis ok I will merge the PR. Please try to tackle smaller/simpler bounties for future smart-contract development. The truth is this PR is far from working and it may have been too large of a task for your first contract. We are going to make the solidity bounties smaller and more concise in the future.

[2018-11-09 09:29] #151 closed

[2018-11-09 12:46] jjperezaguinaga commented on #151
@uivlis Bounty payment should have gone through! Let me know if you have any questions.

[2018-11-09 12:57] uivlis commented on #151
Yeah, I have a question: did you manage to test my [other](https://github.com/MyBitFoundation/MyBit-UI-Toolkit.app/issues/18) bounty?

[2018-11-12 09:43] Destiner commented on #149
Hi there @jjperezaguinaga, would like to tackle this. Should I start?

[2018-11-12 11:20] pacamara commented on #147
Hi! Have submitted a PR with the airdrop creation implemented and working (tested on local MyBit-Chain instance) :
https://github.com/MyBitFoundation/MyBit-Dropzone.tech/pull/4

Now working on the display of past transactions. Ropsten testing is also a to-do.

[2018-11-13 10:17] cryptomental commented on #189
Hi @jjperezaguinaga @csmartinsfct did you have a chance to have a look at the pull request and error message shown at http://51.75.66.221:3000/create-new when locking and unlocking Metamask / uninstalled Metamask? I tried this on different browsers, looks fine now and I would like to push the bounty further ;)

[2018-11-13 14:47] pacamara commented on #147
@PeterMPhillips @kyledewy @jjperezaguinaga PR https://github.com/MyBitFoundation/MyBit-Dropzone.tech/pull/4 complete now, see ropsten demo in attached screen recording. Could you take a look please? :beers:

![airdrop-demo180d](https://user-images.githubusercontent.com/19371062/48420598-a799a900-e752-11e8-8ca5-8e6964c3f2fb.gif)

[2018-11-14 06:43] #189 closed

[2018-11-14 07:16] cryptomental commented on #189
hi @kyledewy thank you for merging!

[2018-11-14 14:39] yossipik commented on #188
PR was created with required fix
https://github.com/MyBitFoundation/MyBit-Trust.website/pull/7
![mybit-trust](https://user-images.githubusercontent.com/26850819/48489443-c324b280-e82b-11e8-9260-ce228df4089e.gif)

[2018-11-14 16:04] cryptnotiq commented on #190
@cryptomental yes, go for it. Should be pretty much the exact same.

[2018-11-14 16:05] cryptnotiq commented on #149
hey @Destiner - yes you can get started - let us know if you have any questions.

[2018-11-14 16:16] cryptnotiq commented on #198
hey @cryptomental yes should be the exact same. Please go ahead.

[2018-11-14 16:21] cryptnotiq commented on #191
hey @bakaoh super sorry for the delayed response, this one slipped through the cracks. What time zone are you using? Could you default it to UTC and put a note in the header of the calendar pop-out that time is in UTC.

[2018-11-14 16:25] cryptnotiq commented on #151
just commented on that. Did you submit a pull request or staging URL for review?

[2018-11-14 16:25] cryptnotiq commented on #151
please direct any responses to that task. This thread is not maintained.

[2018-11-14 16:38] cryptnotiq commented on #147
hey @pacamara could you share a staging URL so I can live test?

[2018-11-14 19:02] yossipik commented on #187
@mybit-bot which repository contains the will.mybit.io frontend code?

[2018-11-14 19:35] cryptnotiq commented on #187
this one will, however give it a few days because we are reviewing the latest pull request with the FE code. https://github.com/MyBitFoundation/MyBit-Will.tech

[2018-11-14 23:12] jjperezaguinaga commented on #150
@bakaoh For the time we'll need you to create two PRs (annoying, I'm sorry, we are working on this 😓 ). One goes in this repository (Network.tech) that reads "Fixes #150" as is empty. The second one goes to our https://github.com/MyBitFoundation/MyBit-Will.website with the actual code, where @csmartinsfct is a maintainer. As soon as we merge that PR in that repo, we will merge the one in this one

[2018-11-15 01:58] pacamara commented on #147
@cryptnotiq OK it's https://dropzone-pr4-staging.herokuapp.com

You can recover the sending account on ropsten with the default seed phrase for local MyBit-Chain : `myth like bonus scare over problem client lizard pioneer submit female collect`

Thanks! :beers:

[2018-11-15 16:23] cryptnotiq commented on #147
@pacamara ok few things.
1. Remove the head tab airdrop tokens
2. In create new, should be able to add multiple recipient addresses manually. Easy way to do this is have a plus icon underneath the first recipient box and when clicked displays a second and so fourth. Importing a CSV would be a great addition as well but was not included in the scope of this task to my knowledge - but if you want to

[2018-11-15 16:38] pacamara commented on #147
@cryptoniq Thanks for the review, got it. :) Will action 1, 2 and think about the csv option.

3. "Top 100 eth addresses" airdrop works on ropsten. What happened when you tried? Perhaps you were out of gas or MYB?

4. The other addresses in the dropdown are the individual addresses in the Top 100 eth addresses list (as taken off etherscan).

[2018-11-15 16:41] cryptnotiq commented on #147
@pacamara 3. Nothing happens - don't get a metamask pop-up nor anything to confirm the transaction. Definitely have MYB and Gas

4. You can remove all the addresses and just have the top 100 option in the dropdown.

[2018-11-15 17:01] #150 closed

[2018-11-15 17:04] jjperezaguinaga commented on #150
Thank you @bakaoh ! The bounty has been paid ☺️

[2018-11-15 18:44] yossipik commented on #192
@mybit-bot
Please review the following design
1. Split the amount into 2 fields - amount and token
![image1](https://user-images.githubusercontent.com/26850819/48573465-f2631e80-e914-11e8-975c-7771ff6cbdbc.png)

2. There are 2 options to enter the token
a. Allow the user to enter the token by entering the contract address. This is less user friendly but most flexible
![image2](https://user-images.

[2018-11-16 06:41] cryptomental commented on #198
Thank you @cryptnotiq . I was waiting for MyBit-Will merge. In progress.

[2018-11-16 06:51] cryptomental commented on #190
In progress.

[2018-11-16 07:08] cryptomental commented on #198
Hi @cryptnotiq @mybit-bot I have just noticed that @bakaoh already incorporated this one, therefore credits and payout can go to him. I will tackle #190 as it is still not in.

[2018-11-16 08:11] cryptnotiq commented on #192
@yossipik is it possible to offer both? Either type a token name and see if anything pops-up or just copy in a token address manually - that would be ideal. If not, Option B for sure.

[2018-11-16 08:16] cryptnotiq commented on #147
@pacamara tried on Chrome and Firefox. @AspacehUK @kyledewy can you guys test out this dApp and see if it works for you? Specifically doing an airdrop to top 100 ETH addresses. For me it didn't work - didn't get a metamask pop-up.

Let's try that from our own accounts before trying to use yours bc that shouldn't be necessary.

[2018-11-16 08:58] kyledewy commented on #147
Hey @pacamara I tried to create an airdrop for the top 100 addresses using the account you provided and a seperate account on both firefox and brave and the transaction isn't triggering metamask.

[2018-11-16 09:05] bakaoh commented on #198
@cryptomental --- actually i just copied your code from Trust issue. You should get credits for this one.

[2018-11-16 09:09] bakaoh commented on #191
@cryptnotiq --- i'm using local time zone. By UTC do you mean we format time as `2018-11-16 16:06:11 +70:00`?

[2018-11-16 09:21] yossipik commented on #192
@cryptnotiq it is a good idea to have both.
I have some more questions I can follow up in gitter but if you approve the design I will start working on it

[2018-11-16 09:29] cryptnotiq commented on #191
UTC+0 at this comment time its 9:30 , not sure what you mean by +70:00?

[2018-11-16 09:38] bakaoh commented on #191
@cryptnotiq -- i mean `UTC+07:00` ^^ So you want to convert from `2018-11-16 16:30:11 UTC+07:00` to `2018-11-16 09:30:11 UTC+00:00`? I'm using antd date picker which don't have config for that. But why would you want to show time at UTC+0? Use local time zone is easier for user, and in the backend, we store as unix timestamp which is timezone independent.

[2018-11-16 09:39] yossipik commented on #192
@cryptnotiq great. Just to confirm. This bounty is about the frontend. Changing the contracts is not in the scope of this bounty. Is this correct?

[2018-11-16 09:43] cryptnotiq commented on #191
@bakaoh Local time would be better but when i tested it, it used your time zone - didnt automatically use my local time.

[2018-11-16 09:46] cryptnotiq commented on #192
@yossipik no. It needs to be done on the contract side and then just a basic updatebon FE to make it clear any erc20 token can be used.

[2018-11-16 10:19] bakaoh commented on #191
@cryptnotiq i tried changing my system time zone and it automatically reflects on the web. What os/browser do you use?

[2018-11-16 13:58] pacamara commented on #147
@cryptnotiq @kyledewy Sorry to hear that! Have added a bunch of cloud-based logging to that instance now, so should be able to see what's going on. Could you try again please? (Better to use your own accounts now). Thanks! :beers:

[2018-11-17 21:31] cryptnotiq commented on #191
Tried with Chrome and Firefox (lastest versions). @bakaoh

[2018-11-17 21:32] cryptnotiq commented on #147
@pacamara nope, still not triggering a metamask pop-up for me. Maybe you need to redeploy and update the staging URL to incorporate the updates?

[2018-11-17 21:51] pacamara commented on #147
@cryptnotiq Thanks for trying again! To clarify, I had added cloud-based logging, not fixed the error.
I see you in the logs and here is the root cause error :

Similar to https://ethereum.stackexchange.com/questions/59122/web3-js-1-0-is-throwing-big-number-error-while-transfering-tokens
Makes sense, up to now I hadn't tested with large amounts of MYB, apologies. Will fix and let you know when red

[2018-11-18 18:10] pacamara commented on #147
@cryptnotiq That bug is fixed on the staging instance, 100MYB airdrops to "Top 100 ETH addresses" work ok now. :)  [Example ropsten txn](https://ropsten.etherscan.io/tx/0xb59e324b7aeb923424ba264f3b1d49696fb3566a84faff6ad5aeb2d9d15ee947)

[2018-11-19 04:29] kyledewy commented on #147
@pacamara the airdrop worked for me, although it doesn't show up in the 'sent airdrops' tab after completing. Another thing is that it requested for me to approve the token transfer several times. Can you add a check to see if the token allowance is already higher than the burning fee?

[2018-11-19 13:19] pacamara commented on #147
@kyledewy Cool, good to hear the airdrop works for you! Have added cloud logging to the Sent Airdrops page now, can you retry please?

Re. the `requestApproval` calls, it seems necessary to make separate calls for both the burner and airdrop contracts. I'll implement your suggestion. Is it right to say the long term solution is using `approveAndCall`? Per your comment in the contract:

Am happy to

[2018-11-19 14:20] kyledewy commented on #147
@pacamara ya you should be able to get away with just approving the airdrop contract to spend `mybFee` amount of tokens.
approveAndCall() would be the ideal UX solution. Would be great to implement that, but we can do that in another bounty if your interested. It's not required for this one.
Yes the fee needs updating in the contract. It should be `250 * 10^18` , but I would just pull the variable

[2018-11-19 14:37] pacamara commented on #147
@kyledewy Got it, thanks for the pointers! :beers:

[2018-11-19 14:58] kyledewy commented on #147
@pacamara Nice, the airdrops are showing up in the 'sent airdrops' screen for me now.

@cryptnotiq @AspacehUK can you give it a whirl and see if it's missing anything?

[2018-11-19 16:30] cryptnotiq commented on #147
@kyledewy @pacamara still not triggering metamask when I select top 100.

@AspacehUK can you test it out?

[2018-11-19 17:18] pacamara commented on #147
@kyledewy Yay!

@cryptnotiq Probably platform-related? @kyledewy and I both linux/firefox, you're OSX/Chrome. (Chrome works fine on linux). Suspect this error:

Also have these to-dos (so far):
* Burn 250MYB not 250wei MYB
* Check existing allowances before calls to `requestApproval`
* Remove "Airdrop tokens" button
* Fix blank page if no metamask
* Remove all addresses except 'Top 100' from dropd

[2018-11-19 18:59] cryptnotiq commented on #147
@cryptnotiq test notification system.

[2018-11-19 19:00] AspacehUK commented on #147
Tested @cryptnotiq

[2018-11-21 20:35] pacamara commented on #147
@kyledewy @cryptnotiq @AspacehUK [PR4](https://github.com/MyBitFoundation/MyBit-Dropzone.tech/pull/4) and [staging](https://dropzone-pr4-staging.herokuapp.com/) updated!

* Includes all above to-dos except xls import and fixing OSX/Chrome bug. Will prioritize OSX/Chrome now.
* Rebased to include @PeterMPhillips 's changes to `ERC20Airdrop.sol`. Accordingly, burner and airdrop contracts on ropsten

[2018-11-22 00:32] #198 closed

[2018-11-22 00:33] jjperezaguinaga commented on #198
Thanks for playing fair everyone, payouts should be going now ☺️

[2018-11-22 00:34] #190 closed

[2018-11-22 00:36] #147 closed

[2018-11-22 07:55] StevenJNPearce commented on #194
@mybit-bot @jjperezaguinaga Could you please clarify this requirement, as is this application doesn't appear to have a backend currently (other than the smart contracts/blockchain)
How would you like the backend implemented? A simple node app with a single GET endpoint returning number of blocks for a given number of days is ok?

[2018-11-22 14:32] yossipik commented on #192
@cryptnotiq what is the status? I saw that there is a repo for the FE code (MyBitFoundation/MyBit-Will.website) but the code is in develop branch so I'm not sure if I should use that.

[2018-11-23 12:21] Destiner commented on #149
Hey again. Likely won't be able to accomplish this.

[2018-11-26 19:37] cryptnotiq commented on #194
@csmartinsfct @jjperezaguinaga can one of you respond to ^^

[2018-11-26 19:38] cryptnotiq commented on #192
@jjperezaguinaga @csmartinsfct can you address this ^^

[2018-11-28 10:40] csmartinsfct commented on #192
@yossipik I think this is the repo you want: https://github.com/MyBitFoundation/MyBit-Trust.website

For the Trust dApp, not Will.

[2018-11-28 10:47] csmartinsfct commented on #194
@StevenJNPearce the term `backend` was somewhat misused there, it basically means the number of days is automatically calculated by the dApp.

Regarding your edit, good point. @kyledewy can you comment on that?

[2018-11-28 11:11] kyledewy commented on #194
Yaa it should definitely be using timestamp. Block number is always an approximation based on recent network usage, so it would be the same case after a hard fork. Timestamp is a better option for this dapp, since there doesn't seem to be much incentive for miners to adjust the blocks timestamp.

[2018-11-28 11:44] #187 closed

[2018-12-03 15:36] wazdevelopment commented on #149
hi is this project still open i can tackle it ?

[2018-12-04 13:43] AspacehUK commented on #147
How it works:

Dropzone lets you create and send airdrops to multiple Ethereum addresses.

1. Enable MetaMask
2. Specify amount and addresses of the recipients.
3. Confirm via MetaMask

Please note: although live, this dApp is still under development

[2018-12-04 13:43] AspacehUK commented on #147
Text for the 'How it works' screen

[2018-12-05 17:20] cryptnotiq commented on #149
@wazdevelopment yes go for it. If you have any questions feel free to ping me.

[2018-12-07 15:20] pacamara commented on #147
Now the code is [live on dropzone.mybit.io](https://dropzone.mybit.io), will shutdown the staging instance.

[2018-12-12 23:04] jjperezaguinaga commented on #191
⚠️ This issue has been blocked from development, please refrain from contributing or working on it, as we are facing some issues trying to retrieve the bounty money from its smart contract. Thank you! 🙏

[2018-12-14 06:50] bakaoh commented on #149
@mybit-coordinator --- please review my stagging here http://128.199.206.130/

I've just deployed the contracts on Ropsten testnet. I will deploy them on mainnet after everything works since i'm at low of eth now

[2018-12-14 09:02] bakaoh commented on #149
@mybit-coordinator --- please put something in this repo https://github.com/MyBitFoundation/MyBit-Fork.tech so i can folk it and make PR

At the moment, you can check my source code here https://github.com/bakaoh/MyBit-Fork.tech

[2018-12-14 13:00] kyledewy commented on #149
@bakaoh you should be able to fork it now.

[2018-12-14 13:05] pacamara commented on #149
Aww beat me to it. Great job @bakaoh :)

[2018-12-14 13:43] StevenJNPearce commented on #149
Pull request ready for your review. Not the first time I've found myself in competition with @bakaoh for a bounty!

[2018-12-24 05:31] #194 closed

[2019-01-08 23:37] mybit-coordinator commented on #149
Hi @bakaoh ! We are very sorry this one slipped through the cracks 😞 , we are now taking a look into it, and will give you some feedback soon!

[2019-01-09 23:03] rd123myb commented on #149
I just went through the process and it seemed to have good functionality! i noticed however when checking the tx's on Trasactions > payments received - the etherescan txlink is wrong and cant locate

[2019-01-10 01:52] StevenJNPearce commented on #149
Are you referring to my implementation or @bakaoh 's competing implementation? Please comment on the relevant pull request for clarity.

[2019-01-10 03:02] bakaoh commented on #149
@rd123myb --- i fixed it. I forgot to switch networks in etherscan link ^.^

[2019-01-10 14:18] jjperezaguinaga commented on #149
@bakaoh Did you update the pull request or just the demo online?

[2019-01-11 01:47] bakaoh commented on #149
@jjperezaguinaga --- my pull request is always the same as the demo :)

[2019-01-11 13:03] jjperezaguinaga commented on #149
@bakaoh roger that! Let's move forward then, thank you!

[2019-01-11 13:04] #149 closed

[2019-01-16 18:06] jjperezaguinaga commented on #191
For anyone interested (😉 @bakaoh), we have reopened this bounty and funded it properly through Gitcoin. Thanks!

[2019-02-01 04:35] rd123myb commented on #191
Hey @bookmoons! would you like to join our Gitter?! https://gitter.im/Mybit-Foundation/DDF

[2019-04-04 21:48] #191 closed